html(lang="pt")
  head
    title TransEmpregos
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    base(href="/")
    meta(name='application-name', content='TransEmpregos')
    link(rel='stylesheet', href='dist/public/stylesheet.css')
    link(rel='apple-touch-icon-precomposed', sizes='57x57', href=`${iconsDir}/apple-touch-icon-57x57.png`)
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href=`${iconsDir}/apple-touch-icon-114x114.png`)
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href=`${iconsDir}/apple-touch-icon-72x72.png`)
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href=`${iconsDir}/apple-touch-icon-144x144.png`)
    link(rel='apple-touch-icon-precomposed', sizes='60x60', href=`${iconsDir}/apple-touch-icon-60x60.png`)
    link(rel='apple-touch-icon-precomposed', sizes='120x120', href=`${iconsDir}/apple-touch-icon-120x120.png`)
    link(rel='apple-touch-icon-precomposed', sizes='76x76', href=`${iconsDir}/apple-touch-icon-76x76.png`)
    link(rel='apple-touch-icon-precomposed', sizes='152x152', href=`${iconsDir}/apple-touch-icon-152x152.png`)
    link(rel='icon', type='image/png', href=`${iconsDir}/favicon-196x196.png`, sizes='196x196')
    link(rel='icon', type='image/png', href=`${iconsDir}/favicon-96x96.png`, sizes='96x96')
    link(rel='icon', type='image/png', href=`${iconsDir}/favicon-32x32.png`, sizes='32x32')
    link(rel='icon', type='image/png', href=`${iconsDir}/favicon-16x16.png`, sizes='16x16')
    link(rel='icon', type='image/png', href=`${iconsDir}/favicon-128.png`, sizes='128x128')
    meta(name='msapplication-TileColor', content='#FFFFFF')
    meta(name='msapplication-TileImage', content=`${iconsDir}/mstile-144x144.png`)
    meta(name='msapplication-square70x70logo', content=`${iconsDir}/mstile-70x70.png`)
    meta(name='msapplication-square150x150logo', content=`${iconsDir}/mstile-150x150.png`)
    meta(name='msapplication-wide310x150logo', content=`${iconsDir}/mstile-310x150.png`)
    meta(name='msapplication-square310x310logo', content=`${iconsDir}/mstile-310x310.png`)
    script(type='text/javascript').
      var _jobs = !{JSON.stringify(jobs)};
      var _isDown = !{!!isDown};
    <!-- Polyfill(s) for older browsers -->
    script(src="node_modules/core-js/client/shim.min.js")
    script(src="node_modules/zone.js/dist/zone.js")
    script(src="node_modules/reflect-metadata/Reflect.js")
    script(src="node_modules/systemjs/dist/system.src.js")
    script(src="dist/public/systemjs.config.js")
    script(type='text/javascript').
      System.import('app').catch(function(err){ console.error(err); });
  body
    trans-app Carregando...
